// apply a natural box layout model to all elements, but allowing components to change
html {
  box-sizing: border-box;
}

* {
  // border: 1px solid red;
  // box-sizing: inherit;

  &:before,
  &:after {
    box-sizing: inherit;
  }
}

.tw-app {
  display: flex;
  flex-direction: row;
  width: 100%;

  &__left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 18%;
  }

  &__center {
    display: flex;
    flex-direction: column;
    width: 52%;
    background: #107581;
    overflow-y: auto;
  }

  &__right {
    display: flex;
    flex-direction: column;
    width: 30%;
    background: #4884a4;
  }
}
