// apply a natural box layout model to all elements, but allowing components to change
html {
  box-sizing: border-box;
}

* {
  border: 1px solid red;
  box-sizing: inherit;

  &:before,
  &:after {
    box-sizing: inherit;
  }
}

.tw-app {
  display: flex;
  width: 100%;
  background: #a3a6ee;

  &__left {
    display: flex;
    flex-direction: column;
    width: 25%;
    background: #c19238;
  }

  &__center {
    display: flex;
    flex-direction: column;
    width: 40%;
    background: #107581;
  }

  &__right {
    display: flex;
    flex-direction: column;
    width: 35%;
    background: #4884a4;
  }
}
