.games-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: $gutter 0;
}

.game-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 21%;
  color: $text-gray;
  font-size: 0.7rem;
  text-align: center;

  &__pic {
    width: 100%;
  }
}
