.games-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: $gutter 0;
}

.game-item {
  min-width: 10rem;
  max-width: 15rem;
  margin: $gutter;
  color: $text-gray;
  font-size: 0.7rem;
  text-align: center;

  &__pic {
    width: 100%;
  }
}
