.tw-app__left {
  display: flex;
  flex-direction: column;
  width: 25%;
  background: $left-pane-bg;
}

.logo {
  padding: $gutter;
  text-align: center;

  &__img {
    width: 9rem;
    fill: $white;
  }
}

.search {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: $gutter;

  &__box {
    // display: flex;
    // flex-direction: row;
    width: 100%;

    &--icon {
      float: left;
      width: 2rem;
      fill: $gray;
    }

    &--input {
      width: calc(100% - 2rem);
      height: 100%;
    }
  }
}

.browse-list {
  color: $gray;

  &__item {
    display: flex;
    flex-direction: row;

    &--icon {
      width: 2rem;
      fill: $gray;
    }

    &--text {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

.more {
  display: flex;
  flex-direction: row;
}
