.tw-app__left {
  display: flex;
  flex-direction: column;
  width: 18.5%;
  background: $left-pane-bg;
}

.logo {
  padding: $gutter;
  text-align: center;

  &__img {
    width: 9rem;
    fill: $white;
  }
}

.search {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: $gutter;

  &__box {
    // display: flex;
    // flex-direction: row;
    width: 100%;
    padding: 0;

    &--icon {
      width: 2rem;
      margin: 0;
      float: left;
      fill: $gray;
    }

    &--input {
      width: calc(90% - 2rem);
      margin: 0;
      padding: 0.5rem 0;

      border: 0;
    }
  }
}

.browse-list {
  color: $gray;

  &__item {
    display: flex;
    flex-direction: row;

    &--icon {
      width: 2rem;
      fill: $gray;
    }

    &--text {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

.more {
  display: flex;
  flex-direction: row;
}
