$fa-font-path: '//netdna.bootstrapcdn.com/font-awesome/4.3.0/fonts';

$gutter: 1rem;
$left-pane-bg: #17141f;
$brand-purple: #6441a4;
$gray: #b8b5c0;
$highlight-gray: #e5e3e8;
$white: #fff;

@import 'font-awesome';
@import 'box-sizing';
@import 'reset';
@import 'twitch';
@import 'left-pane';
